.test-element {
  height: 100px;
  background-color: black;
  width: 100px;
  z-index: 5;
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
  text-align: center;
  -ms-touch-action: none;
}

.test-element:nth-child(2) {
  top: 150px;
  left: 150px;
}

.test-element:nth-child(3) {
  top: 50px;
  left: 100px;
}
